<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> Invoice</title>
	<link rel="stylesheet" href="bootstrap2.css">
	   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>

	<style>
	@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
	body, h1, h2, h3, h4, h5, h6{
		font-family: 'Bree Serif', serif;
    }
    
    
 




	</style>
</head>
<script>
    angular.module("myApp", [])
        .controller('myController', ['$scope', function ($scope) {

            // CREATE AN 'employees' OBJECT, WITH AN ARRAY OF DATA.
            $scope.employees = {
               
                "": { 'id': '002', 'name': 'Bravo', 'age': 27 },
                "09/11/2015": { 'id': '003', 'name': 'Charlie', 'age': 29 },
                "01/07/2016": { 'id': '004', 'name': 'Delta', 'age': 19 },
                "03/09/2014": { 'id': '005', 'name': 'Echo', 'age': 32 }
            }

            $scope.empArray = Object.keys($scope.employees)
                .map(function (value, index) {
                    return { joinDate: new Date(value), values: $scope.employees[value] }
                }
            );
        } ]);
</script>
<body>

	<div class="container">

		<div class="row">
			<div class="col-xs-6">
          
			    
			</div>
			<div class="col-xs-6 text-right">
                    <img class="im" src="logo.png">
			</div>
        </div>
        <div class="row">
                <div class="col-xs-6">
                      <p>  Susee Park<br>
                        Singarathope<br>
                        Trichy,TamilNadu,620008<br><br>
                        0431-2765490<br>
                        support@susee.com
                </p>
                    
                </div>
                <div class="col-xs-6 text-right">
                       <h1><b>Invoice</b></h1>
                </div>
               
            </div>
            <hr style="border: 1px double black;" />
            
            
		  <div class="row">
		    <div class="col-xs-2">
		     
		              <div class="panel-body">
		                <p>
		                  Bill To
		                </p>
		            
		            </div>
            </div>
            <div class="row">
                    <div class="col-xs-4">
                      
                              <div class="panel-body">
                                <p>
                                 Client Name<br>
                                 Client Address Line1<br>
                                 City,State Postalcode
                                </p>
                              
                            </div>
                    </div>
		    <div class="col-xs- col-xs-offset-4 text-middle">
                    <div class="panel-body">
                            <p style="float:right;">
                            Invoice Number<span="2">      00252030</span><br>
                            Date<span="2">      01/11/2018</span>
                        
                            </p>
                          
		              
		              </div>
		            </div>
		    </div>
		  </div> <!-- / end client details section -->
  <div ng-app="myApp" ng-controller="myController">
       
		         <table class="table table-bordered">
        <thead>
          <tr>
            
            <th><h4>Description</h4></th>
            <th><h4>Quantity</h4></th>
            <th><h4>Unit Price</h4></th>
            <th><h4>Amount</h4></th>
          </tr>
		  
        </thead>
		<tr ng-repeat="emps in empArray | orderBy : 'values.id'">

                <td>{{emps.values.id}}</td>
                    <td>{{emps.values.name}}</td>
                        <td>{{emps.joinDate | date : 'dd/MM/yyyy'}}</td>
                            <td>{{emps.values.age}}</td>
            </tr>
        <tbody>
          <tr>
            <td>Beverage</td>
            <td>5</td>
            <td>250.00 AED</td>
             <td >125.00 AED</td>
              
          </tr>
          <tr>
                <td>Chicken</td>
                <td>3</td>
                <td>200.00 AED</td>
                 <td>600.00 AED</td>
              </tr>
              <tr>
                    <td>Salad</td>
                    <td>5</td>
                    <td>200.00 AED</td>
                     <td>500.00 AED</td>
                  </tr>-->
<!--           <tr>
            <td>Template Design</td>
            <td><a href="#">Details of project here</a></td>
            <td class="text-right">10</td>
             <td class="text-right">75.00</td>
              <td class="text-right">$750.00</td>
          </tr>
          <tr>
            <td>Development</td>
            <td><a href="#">WordPress Blogging theme</a></td>
            <td class="text-right">5</td>
             <td class="text-right">50.00</td>
              <td class="text-right">$250.00</td>
          </tr> -->
        </tbody>
      </table>

		<div class="row text-right">
			<div class="col-xs-3 col-xs-offset-6 text-right">
				<p style="float:right;" >
					
				<b>
						Total <br>
					</b>
				</p>
			</div>
			<div class="col-xs-3 text-right">
                    <p style="float:right;" >
					
                            <b>
                                    $75.00<br>
                                </b>
                            </p>
                           
            </div>
            <div class="col-xs-8">
            
        </div>
        <div class="col-xs-4">
                <hr style="border: 1px double black;" />
        </div>
		</div>
       
		<div class="row">
		
		  <div class="col-xs-6">
                <button>Send Email</button>
			    <div class="col-xs-6">
                        <button onclick="myFunction()">Print</button>    
			     <!--  <h4>Payment should be mabe by Bank Transfer</h4> -->
			    </div>
			  
		
		</div>

	</div>
<script>
function myFunction() {
    window.print();
}

</script>

</body>
</html>